<div class="p-4 overflow-x-auto">
    <div>
        <h2 class="text-xl font-bold mb-4 px-4">{{ connection()?.Name }} - Indices</h2>
    </div>
    <div class="flex items-center justify-between mb-4 gap-4 px-4">
        <div class="flex-1">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Filter by index name..." 
                    [(ngModel)]="searchText" 
                    (ngModelChange)="onSearchChange()" 
                    class="w-full" />
                @if (searchText) {
                <p-inputicon styleClass="pi pi-times cursor-pointer" (click)="clearSearch()" />
                }
            </p-iconfield>
        </div>
        <div class="flex items-center">
            <label for="showHiddenIndices" class="font-semibold mr-2">Show Hidden Indices</label>
            <p-toggleSwitch (onChange)="showHiddenIndices($event)" inputId="showHiddenIndices"
                [(ngModel)]="showHidden"></p-toggleSwitch>
        </div>
    </div>

    @if (loading()) {
    <div class="flex justify-center items-center h-64">
        <p-progressSpinner strokeWidth="4" />
    </div>
    } @else {
    <div class="overflow-x-auto">
        <p-table class="p-4 min-w-max" [value]="indices()">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="Name">
                        <div class="flex items-center gap-2">
                            Name
                            <p-sortIcon field="Name" />
                        </div>
                    </th>
                    <th pSortableColumn="Documents">
                        <div class="flex items-center gap-2">
                            Documents
                            <p-sortIcon field="Documents" />
                        </div>
                    </th>
                    <th pSortableColumn="Size" pTooltip="Total size of index (primary only)" tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            Size
                            <p-sortIcon field="Size" />
                        </div>
                    </th>
                    <th pSortableColumn="Shards">
                        <div class="flex items-center gap-2">
                            Shards
                            <p-sortIcon field="Shards" />
                        </div>
                    </th>

                    <th pSortableColumn="GBPerShard" pTooltip="Number of GB per Shard. The rate should be less than 30."
                        tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            GB/Shard
                            <p-sortIcon field="GBPerShard" />
                        </div>
                    </th>

                    <th pSortableColumn="Replicas">
                        <div class="flex items-center gap-2">
                            Replicas
                            <p-sortIcon field="Replicas" />
                        </div>
                    </th>
                    <th pSortableColumn="IndexingRate" pTooltip="Number of documents indexed per second" tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            Indexing Rate
                            <p-sortIcon field="IndexingRate" />
                        </div>
                    </th>
                    <th pSortableColumn="SearchRate" pTooltip="Number of search queries per second" tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            Search Rate
                            <p-sortIcon field="SearchRate" />
                        </div>
                    </th>
                    <th pSortableColumn="IndexingLatency" pTooltip="Average time to index a document (ms)" tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            Indexing Latency
                            <p-sortIcon field="IndexingLatency" />
                        </div>
                    </th>
                    <th pSortableColumn="SearchLatency" pTooltip="Average time to execute a search (ms)" tooltipPosition="top">
                        <div class="flex items-center gap-2">
                            Search Latency
                            <p-sortIcon field="SearchLatency" />
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-esIndex>
                <tr>
                    <td>{{ esIndex.Name }}</td>
                    <td>{{ esIndex.Documents }}</td>
                    <td>{{ esIndex.Size | formatBytes}}</td>
                    <td>{{ esIndex.Shards }}</td>
                    <td [class]="esIndex.GBPerShard > 30 ? 'text-red-500 font-bold' : ''">{{ esIndex.GBPerShard ?
                        (esIndex.GBPerShard | number:'1.2-2') : '' }}</td>
                    <td>{{ esIndex.Replicas }}</td>
                    <td>{{ esIndex.IndexingRate != null ? (esIndex.IndexingRate | number:'1.0-0') : '' }}</td>
                    <td>{{ esIndex.SearchRate != null ? (esIndex.SearchRate | number:'1.0-0') : '' }}</td>
                    <td>{{ esIndex.IndexingLatency != null ? (esIndex.IndexingLatency | number:'1.2-2') : '' }}</td>
                    <td>{{ esIndex.SearchLatency != null ? (esIndex.SearchLatency | number:'1.2-2') : '' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    }
</div>