<div class="p-4 overflow-x-auto">
	<div>
		<h2 class="text-xl font-bold mb-4 px-4">
			{{ connection()?.Name }} - Circuit Breakers{{ breakers().length > 0 ? ' (' + breakers().length + ')' : '' }}
		</h2>
	</div>

	@if (loading()) {
	<div class="flex justify-center items-center h-64">
		<p-progressSpinner strokeWidth="4" />
	</div>
	} @else {
	<div class="overflow-x-auto">
		<p-table class="p-4 min-w-max" [value]="breakers()">
			<ng-template #header>
				<tr>
					<th pSortableColumn="Node">
						<div class="flex items-center gap-2">
							Node
							<p-sortIcon field="Node" />
						</div>
					</th>

					<th pSortableColumn="GcPercent"
						pTooltip="Percentage of time the node spent in Garbage Collection since the last metric collection"
						tooltipPosition="top">
						<div class="flex items-center gap-2">
							GC Overhead %
							<p-sortIcon field="GcPercent" />
						</div>
					</th>

					<th pSortableColumn="ParentTripped">
						<div class="flex items-center gap-2">
							Parent Tripped
							<p-sortIcon field="ParentTripped" />
						</div>
					</th>

					<th pSortableColumn="ParentPercent"
						pTooltip="Parent breaker usage percentage, calculated as (estimated_size_in_bytes / limit_size_in_bytes) * 100. The value should be less than 85."
						tooltipPosition="top">
						<div class="flex items-center gap-2">
							Parent %
							<p-sortIcon field="ParentPercent" />
						</div>
					</th>

					<th pSortableColumn="FielddataTripped">
						<div class="flex items-center gap-2">
							Fielddata Tripped
							<p-sortIcon field="FielddataTripped" />
						</div>
					</th>

					<th pSortableColumn="FielddataPercent"
						pTooltip="Fielddata breaker usage percentage, calculated as (estimated_size_in_bytes / limit_size_in_bytes) * 100. The value should be less than 85."
						tooltipPosition="top">
						<div class="flex items-center gap-2">
							Fielddata %
							<p-sortIcon field="FielddataPercent" />
						</div>
					</th>

					<th pSortableColumn="InflightRequestsTripped">
						<div class="flex items-center gap-2">
							Inflight Requests Tripped
							<p-sortIcon field="InflightRequestsTripped" />
						</div>
					</th>

					<th pSortableColumn="InflightRequestsPercent"
						pTooltip="Inflight requests breaker usage percentage, calculated as (estimated_size_in_bytes / limit_size_in_bytes) * 100. The value should be less than 85."
						tooltipPosition="top">
						<div class="flex items-center gap-2">
							Inflight Requests %
							<p-sortIcon field="InflightRequestsPercent" />
						</div>
					</th>
				</tr>
			</ng-template>

			<ng-template #body let-breaker>
				<tr>
					<td>{{ breaker.Node }}</td>
					<td [class]="breaker.GcPercent > 85 ? 'text-red-500 font-bold' : ''">
						{{ breaker.GcPercent > 0 ? (breaker.GcPercent | number:'1.2-2') : '' }}
					</td>
					<td [class]="breaker.ParentTripped > 0 ? 'text-red-500 font-bold' : ''">{{ breaker.ParentTripped || '' }}</td>
					<td [class]="breaker.ParentPercent > 85 ? 'text-red-500 font-bold' : ''">
						{{ breaker.ParentPercent | number:'1.2-2' }}
					</td>
					<td [class]="breaker.FielddataTripped > 0 ? 'text-red-500 font-bold' : ''">{{ breaker.FielddataTripped || '' }}</td>
					<td [class]="breaker.FielddataPercent > 85 ? 'text-red-500 font-bold' : ''">
						{{ breaker.FielddataPercent | number:'1.2-2' }}
					</td>
					<td [class]="breaker.InflightRequestsTripped > 0 ? 'text-red-500 font-bold' : ''">{{ breaker.InflightRequestsTripped || '' }}</td>
					<td [class]="breaker.InflightRequestsPercent > 85 ? 'text-red-500 font-bold' : ''">
						{{ breaker.InflightRequestsPercent > 0.01 ? (breaker.InflightRequestsPercent | number:'1.2-2'): '' }}
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
	}
</div>
